.App {
    text-align: center;
}
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position:fixed;
    z-index: 7999;
    background: #F9FCFFFF;
    width: 100%;
}